:root {
    /* widths */
    --width-mobile: 375px;
    --width-desktop: 1440px;
    /* fonts */
    --fnt-size-base: 20px;
    --fnt-family: 'Libre Franklin', sans-serif;
    --fnt-wgt-light: 300;
    --fnt-wgt-medium: 600;
    --fnt-wgt-heavy: 700;
    /* Colors - Primary*/
    --clr-blue: hsl(223, 87%, 63%);
    /* Colors - Secondary */
    --clr-pale-blue: hsl(223, 100%, 88%);
    --clr-light-red: hsl(354, 100%, 66%);
    /* Colors - Neutral */
    --clr-gray: hsl(0, 0%, 59%);
    --clr-very-dark-blue: hsl(209, 33%, 12%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;

    letter-spacing: 0.1rem;
}

html, body {
    font-family: var(--fnt-family);
    font-size: var(--fnt-size-base);
    height: 100vh;
    /* overflow: hidden; */
}

body {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* ALERT */
.alertMail {
    background-color: lightblue;
    flex: 0 51vw;
    border-radius: 6px;
}

.alertHide {
    display: none;
}

.alertMail p {
    width: 50%;
    padding: 0.5rem;
    margin: 0 auto;

    text-align: center;
}

.alertMail #alertDismiss {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    border: none;
    background-color: transparent;
}

.alertMail #alertDismiss:hover {
    cursor: pointer;
}



/* HEADER */
.mainHeader {
    height: 15%;
    min-height: 7rem;

    /* background-color: red; */
    flex: 0 51vw;

    padding: 2rem 0 0.5rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.headerH1 {
    font-size: 1.5rem;
}

.headerH2 {
    font-size: 2rem;
    font-weight: var(--fnt-wgt-light);
    color: var(--clr-gray);
}

/* MAIN BODY */
main {
    height: 69%;
    min-height: 32rem;

    /* background-color: blue; */
    flex: 0 51vw;
}

.mainSec {
    height: 100%;

    padding: 0.5rem 1.5rem 2rem 1.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.mainSecHeader h3 {
    font-weight: var(--fnt-wgt-light);
}

/* FORM */
#mainSecForm {
    width: 100%;
    flex-basis: 4rem;
}

.mainSecFormLabel {
    display: inline-block;
    width: 69%;
    height: 70%;
}

.mainSecFormInput {
    display: inline-block;
    width: 100%;
    height: 100%;

    border: 2px solid var(--clr-gray);

    padding: 0 1.5rem 0 1.5rem;

    font-size: 1rem;
    color: var(--clr-gray);
}

.mainSecFormInput:focus {
    outline: none;
}

#emailInput.invalid {
    border-color: var(--clr-light-red);
}

.mainSecFormSubmit {
    display: inline-block;
    width: 30%;
    height: 70%;

    border: none;

    background-color: var(--clr-blue);
    color: #fff;
    font-size: 1rem;
}

.mainSecFormSubmit:hover {
    background-color: var(--clr-pale-blue);
    cursor: pointer;
}

.invalidInput {
    position: absolute;
    top: 110%;
    right: 32%;

    width: fit-content;
}

.invalid {
    color: var(--clr-light-red);
    font-style: italic;
}

.labelHide {
    display: none;
}

.formBorder {
    border-radius: 1.5rem;
}

/* IMAGE */
.mainSecImage {
    /* height: 100%; */
    max-height: 400px;
}

/* FOOTER */
.mainFooter {
    height: 15%;
    min-height: 7rem;

    /* background-color: green; */
    flex: 0 51vw;

    /* padding: 3rem; */

    display: flex;
    flex-flow: column nowrap;
    justify-content:space-evenly;
    align-items: center;
}

.footerLogos {
    min-width: 10rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.footerLogos a {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;
    /* background-color: red; */

    border: 1.5px solid var(--clr-gray);
    border-radius: 50%;

    text-decoration: none;
}

.footerLogos a:hover {
    background-color: var(--clr-blue);
}

.footerLogos i {
    color: var(--clr-blue);
}

.footerLogos a:hover i {
    color: #fff;
}

.copyright {
    font-size: 0.7rem;
}

/* TYPOGRAPHY */
.clrBlue {
    color: var(--clr-blue);
}

.clrBlack {
    color: #000;
    font-weight: var(--fnt-wgt-heavy);
}